* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 30px 0;
  text-align: center;
}
.titulo__secundario {
  margin: 20px 0;
}
.textos {
  height: .1rem;
}
.form__icones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0;
}
.form__img {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
#frmjokenpo {
  margin: 0 20%;
}

.input__radio {
  display: none;
}
.pedra::after {
  content: url(img/pedra.png);
}
#pedra:checked ~ .pedra::after {
  content: url(img/pedraSelecionada.png);
}
.papel::after {
  content: url(img/papel.png);
}
#papel:checked ~ .papel::after {
  content: url(img/papelSelecionada.png);
}
.tesoura {
  grid-area: icone;
}
.tesoura::after {
  content: url(img/tesoura.png);
}
#tesoura:checked ~ .tesoura::after {
  content: url(img/tesouraSelecionada.png);
}
.botao {
  background-color: rgb(97, 97, 181);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  transition: .3s ease-in-out;
  width: 100px;
}
.botao:hover {
  opacity: .8;
}
.computador {
  width: 450px;
}
@media (max-width: 500px) {
  .computador {
    width: 90vw;
  }
  #frmjokenpo {
    margin: 0;
  }
}